#blog{
    margin-bottom: 60px;
    .block-blog{
        a{
            letter-spacing: 2px;
            text-decoration: none;
        }
        img {
            width: 100%;
        }
        .content-blog {
            box-shadow: 0 0 0 0 rgba(0,0,0,0.2), 0 0 4px 0 rgba(0,0,0,0.19);
            display: inline-block;
            min-height: 125px;
            padding: 20px 10px;
            width: 100%;
            h4 {
                line-height: 24px;
                margin-bottom: 20px;
                text-transform: capitalize;
                font-weight: normal;
                letter-spacing: 0;
                font-size: 16px;
                color: #000;
                a{
                    color: #555;
                    text-decoration: none;
                    transition: 0.3s;
                    letter-spacing: 2px;
                    font-size: 16px;
                }
            }
            span {
                float: left;
                font-size: 12px;
                letter-spacing: 1px;
                color: #333;
                font-weight: 400;
                line-height: 1.5;
            }
            a.readmore {
                color: $black;
                font-size: 12px;
                font-weight: 600;
                text-decoration: none;
                transition: 0.3s;
                letter-spacing: 0;
                text-transform: capitalize;
                float: right;
            }
        }
    }
}