.section-title{
    margin-bottom: 60px;
    h2 {
        font-family: "Roboto",sans-serif;
        font-size: 45px;
        font-weight: 100;
        letter-spacing: 2px;
        margin-bottom: 20px;
        text-transform: capitalize;
    }
    p{
        font-size: 15px;
        font-weight: 300;
        color: #626262;
        font-family: "Roboto",sans-serif;
        letter-spacing: 0.5px;
        line-height: 2;
    }
}
.space{
    margin-bottom: 30px;
}